<?xml version="1.0"?>
<EventSimulatorOutput>
    <EventOuput name = "CarAccident" FalsAlarm = "False">
        <Severity>normal</Severity>
        <SeverityTimeSpan>10</SeverityTimeSpan>
        <EventID>E1</EventID>
        <Timing>
            <start_time>7</start_time>
            <event_duration>250</event_duration>
            <TweetingLatency>
                <distribution>exponential</distribution>
                <Lambda>0.7</Lambda>
            </TweetingLatency>
        </Timing>
        <Location>
            <lattitude>43.5294</lattitude>
            <longitude>-79.7288</longitude>
            <node_id>320018693</node_id>
            <way_id>29092800</way_id>
            <way_name>Bay St. S.</way_name>
            <city_name>Not Given</city_name>
        </Location>
        <AdditionalDetails>
            <ClosedLanes>1</ClosedLanes>
            <VehicleInvolved>
                <Brand>Ford</Brand>
                <Color>White</Color>
                <Speed>95</Speed>
                <PlateNumber>JGDO3856</PlateNumber>
                <NumberofPassengers>2</NumberofPassengers>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Fiat</Brand>
                <Color>Red</Color>
                <Speed>40</Speed>
                <PlateNumber>QIEN283</PlateNumber>
                <NumberofPassengers>5</NumberofPassengers>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Kia</Brand>
                <Color>Gray</Color>
                <Speed>53</Speed>
                <PlateNumber>QODJ273</PlateNumber>
                <NumberofPassengers>3</NumberofPassengers>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>GM</Brand>
                <Color>Blue</Color>
                <Speed>65</Speed>
                <PlateNumber>HGJD384</PlateNumber>
                <NumberofPassengers>4</NumberofPassengers>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Nissan</Brand>
                <Color>White</Color>
                <Speed>78</Speed>
                <PlateNumber>NVMC462</PlateNumber>
                <NumberofPassengers>1</NumberofPassengers>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Audi</Brand>
                <Color>Red</Color>
                <Speed>116</Speed>
                <PlateNumber>MBNC384</PlateNumber>
                <NumberofPassengers>3</NumberofPassengers>
            </VehicleInvolved>
            <NumberOfPedestrians>33</NumberOfPedestrians>
        </AdditionalDetails>
    </EventOuput>
    <EventOuput name = "FireAccident" FalsAlarm = "False">
        <Severity>Castastrophic</Severity>
         <SeverityTimeSpan>10</SeverityTimeSpan>
        <EventID>E2</EventID>
        <Timing>
            <start_time>19</start_time>
            <event_duration>100</event_duration>
            <TweetingLatency>
                <distribution>exponential</distribution>
                <Lambda>1</Lambda>
                <variance>0.3</variance>
            </TweetingLatency>
        </Timing>
        <Location>
            <lattitude>43.5016</lattitude>
            <longitude>-79.7383</longitude>
            <node_id>113079172</node_id>
            <way_id>33787169</way_id>
            <way_name>King St.</way_name>
            <city_name>Not Given</city_name>
        </Location>
        <AdditionalDetails>
            <BuildingNumber>100</BuildingNumber>
            <BuildingInvolved>
                <SuitNumber>A91</SuitNumber>
                <NumberofDeath>1</NumberofDeath>
            </BuildingInvolved>
            <BuildingInvolved>
                <SuitNumber>B10</SuitNumber>
                <NumberofDeath>2</NumberofDeath>
            </BuildingInvolved>
            <BuildingInvolved>
                <SuitNumber>C11</SuitNumber>
                <NumberofDeath>1</NumberofDeath>
            </BuildingInvolved>
            <BuildingInvolved>
                <SuitNumber>Z77</SuitNumber>
                <NumberofDeath>4</NumberofDeath>
            </BuildingInvolved>
            <Color>Red</Color>
        </AdditionalDetails>
    </EventOuput>
    <EventOuput name = "CarAccident" FalsAlarm = "True">
        <Severity>normal</Severity>
         <SeverityTimeSpan>10</SeverityTimeSpan>
        <EventID>E3</EventID>
        <Timing>
            <start_time>30</start_time>
            <event_duration>83</event_duration>
            <TweetingLatency>
                <distribution>exponential</distribution>
                <Lambda>0.5</Lambda>
            </TweetingLatency>
        </Timing>
        <Location>
            <lattitude>43.5343</lattitude>
            <longitude>-79.6963</longitude>
            <node_id>2600428387</node_id>
            <way_id>254249260</way_id>
            <way_name>Ray St. N.</way_name>
            <city_name>Not Given</city_name>
        </Location>
        <AdditionalDetails>
            <ClosedLanes>2</ClosedLanes>
            <VehicleInvolved>
                <Brand>Lamborgini</Brand>
                <Color>blue</Color>
                <NumberofPassengers>2</NumberofPassengers>
                <Speed>30</Speed>
                <PlateNumber>HDKF485</PlateNumber>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Audi</Brand>
                <Color>green</Color>
                <NumberofPassengers>3</NumberofPassengers>
                <Speed>46</Speed>
                <PlateNumber>WIED374</PlateNumber>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Nissan</Brand>
                <Color>yellow</Color>
                <NumberofPassengers>5</NumberofPassengers>
                <Speed>58</Speed>
                <PlateNumber>UTYE384</PlateNumber>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>BMW</Brand>
                <Color>white</Color>
                <NumberofPassengers>5</NumberofPassengers>
                <Speed>69</Speed>
                <PlateNumber>QYWD847</PlateNumber>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Fiat</Brand>
                <Color>red</Color>
                <NumberofPassengers>2</NumberofPassengers>
                <Speed>76</Speed>
                <PlateNumber>PIOY465</PlateNumber>
            </VehicleInvolved>
            <VehicleInvolved>
                <Brand>Ford</Brand>
                <Color>green</Color>
                <NumberofPassengers>2</NumberofPassengers>
                <Speed>90</Speed>
                <PlateNumber>QRWS746</PlateNumber>
            </VehicleInvolved>
            <NumberOfPedestrians>8</NumberOfPedestrians>
        </AdditionalDetails>
    </EventOuput>
</EventSimulatorOutput>
