<config>
	<input_path>../input/</input_path>
	<output_path>../output/</output_path>
	
	<templates>
		<template Type = "Tweet">
			<file>../templates/Tweet/Tweet_General.xml</file>
			<file>../templates/Tweet/Tweet_V1.xml</file>
			<file>../templates/Tweet/Tweet_V2.xml</file>
		</template>
		<!--
		<template Type = "PhoneCall">
			<file>../templates/PhoneCall/PhoneCall_General.xml</file>
		</template>
		
		<template Type = "Facebook">
			<file>../templates/Facebook/Facebook_General.xml</file>
		</template>
		
		<template Type = "TextMessage">
			<file>../templates/TextMessage/TextMessage_General.xml</file>
		</template>
		-->
		
		<!--<template Type = "FaultAlarm">../templates/faultAlarm/FaultAlarm.xml</template> -->
		
	</templates>

	
</config>